<h1>@Model.GetName() Details: </h1>

<h2>Current Food Level = @Model.GetFood()</h2>
<h2>Current Attention Level = @Model.GetAttention()</h2>
<h2>Current Rest Level = @Model.GetRest()</h2>

<form action="/tamagotchi/@Model.GetId()/addfood" method="post">
  <button type="submit" name="button">Feed</button>
</form>

<form action="/tamagotchi/@Model.GetId()/addrest" method="post">
  <button type="submit" name="button">Sleep</button>
</form>

<form action="/tamagotchi/@Model.GetId()/addattention" method="post">
  <button type="submit" name="button">Play</button>
</form>

<form action="/tamagotchi/@Model.GetId()/timepass" method="post">
  <button type="submit" name="button">Time pass</button>
</form>

<form action="/tamagotchi/@Model.GetId()/delete" method="post">
  <button type="submit" name="button">Delete pet</button>
</form>

<a href='/tamagotchi/new'>Add a new pet</a>
<a href='/tamagotchi'>View all pets</a>
